.DS_store
data/*

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

*.pyc
__pycache__

# external 
Joint-Demosaic-and-Denoising-with-ADMM/
deep_demosaick/
learn_prox_ops/
argmin-TR-2016-code/
On_RED/
flexisp_demosaicking_demo/
OneNet/

# RED specific
external/RED/data
external/RED/results/



.ipynb_checkpoints
 
