.DS_store
data/*

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.bcf
*.blg
*.toc
*.run.xml
*-blx.bib


*.pyc
__pycache__

# external 
Joint-Demosaic-and-Denoising-with-ADMM/
deep_demosaick/
learn_prox_ops/
argmin-TR-2016-code/
On_RED/
flexisp_demosaicking_demo/
OneNet/
DnCNN/
BM3D/
PlugPlay_v1/
Provable_Plug_and_Play/
bm3d_src/
MicroPS-Code/

# RED specific
matlab/results/
matlab/mian/

.ipynb_checkpoints
 
# soft link 
matlab/red
matlab/data
