.DS_store
data/*

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

*.pyc
__pycache__

# external 
Joint-Demosaic-and-Denoising-with-ADMM/
# RED/
deep_demosaick/
learn_prox_ops/

.ipynb_checkpoints
